@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgba(151, 146, 146, 0.466);
}


header {

  display: flex;
  justify-content: center;
  margin: 12px;
}

h1 {

  font-size: 38px;
  color: rgb(64, 80, 94);

}

.main-fieldset {
  margin-bottom: 20px;
  background-color: rgba(46, 49, 49, .7);
  color: #efefef;
  border: 0;
  display: flex;
  /* flex-flow: column; */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 3px rgba(30, 30, 30, 1);

}

.row {

  gap: 10px;
}

#input {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  padding: 12px;


}

.button {
    display: flex ;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    padding: 5px 10px;
    background-color: #efefef;
    transition: 0.6s;
    text-decoration: none;
    color:  #000;
}

  



/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */

/* Os seguintes estilos são os que usaremos para aplicar o modo escuro, 
você terá que modificar os seletores a fim de poder resolver o exercício. */

/* A cor de fundo da página  */
.body-dark {
  background-color: rgb(39, 39, 39);
}

/* Modificações no titulo 'A família dos felinos' */
.h1-dark {
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}


/* Modificações nos items */
.items-dark {
  background-color: rgb(19, 19, 19);
  border-color: black;
}

/* Modificações nos paragrafos dos itens e nos cabeçalhos dos itens */
.items-text-dark {
  color: rgb(230, 230, 230);
}